<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TANI IT</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/content.css">

</head>
<body>
<div class="Head">
        <img src="img/logo.png" alt="Ini Logo">
        <ul class="Menu">
            <li class="w3-xlarge"><a href="?page=home"><i class="fa fa-home"></i>HOME</a></li>
            <li class="w3-xlarge"><a href="?page=index_content5">KABAR TERKINI</a></li>
            <li class="w3-xlarge"><a href="javascript:openclose('toggle');"><i class="fa fa-search"></i></a></li>
        </ul>
</div>

<div id="toggle" style="display:none">
    <div class="search-box">
        <form class="search-form ">
        <input type="text" placeholder="Ketikkan kata kunci disini....">
        <button type="submit">CARI</button>
        </form>
    </div>
</div>

<div class="Nav">
    <center>
        <img src="img/nav.png" alt="" width="300px" height="40px">
    </center>
</div>

<div class="Body">
    <div class="Judul">
        <div class="BoxJudul">
            <img src="img/tani.jpg" alt="" >
            <h1>Petani Merugi Saat Sektor Pertanian Tumbuh di Tengah Pandemi Apa Masalahnya?? </h1>
        </div>
        <div class="Artikel">

        <p style="text-indent: 40px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam suscipit aliquid molestiae ut, eligendi veritatis qui minus architecto enim aperiam accusamus aut rem labore voluptatem vitae, adipisci corporis quod esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic iusto, enim mollitia quas corporis ipsam architecto ducimus illo minus eum, autem et sint quod error tenetur asperiores incidunt facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit dolorem quas reiciendis expedita placeat voluptatum doloribus eligendi? Dicta placeat saepe quod explicabo! Voluptatibus architecto facilis at dolorem aliquam voluptatem!.
        </p>
        <p style="text-indent: 40px;">
            A ipsum possimus suscipit veniam voluptatum omnis repellendus veritatis. Sapiente rem alias reprehenderit molestias. Necessitatibus laborum voluptatibus atque voluptate, ullam repellendus. Corporis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia atque rerum ab blanditiis veniam, quibusdam sed officiis fuga minus tempora velit dicta. Debitis error doloremque minus vero inventore voluptate!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas commodi, quaerat vel veritatis cupiditate odio totam? Libero cumque expedita iure suscipit eum. Deserunt fuga, quidem eaque illo quaerat dignissimos necessitatibus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur aliquid recusandae. Dolores aut consequatur facere? Eos perspiciatis velit quis dignissimos ea amet incidunt sint quibusdam ducimus qui. Tempora, esse!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam quo incidunt tempore, exercitationem aliquid, minima rerum odio nam delectus provident enim soluta laborum dignissimos maiores eius atque molestiae, quam voluptates.
        </p>
        <p style="text-indent: 40px;">
            Labore debitis eius nihil nisi minus hic temporibus quidem animi voluptatibus neque aspernatur tenetur, vero odio molestias quisquam ad corporis atque dolorum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio atque aliquam incidunt laborum sit voluptatem, libero labore sed debitis quod reiciendis necessitatibus porro odio praesentium. Quisquam a maxime quam illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora expedita natus, enim officiis aspernatur labore unde in dolorem nemo, ipsum architecto totam quos quaerat alias atque a cum ratione neque!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint magni nulla at molestias, ratione qui quo magnam voluptatibus! At, quos eligendi. Nostrum corrupti quod iusto, iste quasi natus ullam veniam.
        </p>
        <p style="text-indent: 40px;">
             Amet consectetur adipisicing elit. Cumque nostrum natus vel in aperiam inventore magni beatae deserunt possimus. Eius rerum culpa iure odio assumenda corporis possimus eaque, quo quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus rem eaque id laudantium, excepturi tenetur repellendus numquam tempore. Perferendis, magnam. Doloremque aut asperiores ratione, beatae eaque aspernatur ad labore. Adipisci! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate culpa nostrum eos impedit voluptatum autem nesciunt rem atque qui odit voluptatem fuga placeat earum nam accusantium, iure tempore asperiores id.
        </p>
        </div>
    </div>
    <div class = "BoxContent">
        <div class="sign">
            <a href="?page=logout"><button>LOGOUT</button></a>
        </div>
        <div class="BoxContent2">
        <div class="Content">
            <a href="?page=index_content2"><img src="img/kebun.jpg" alt=""></a>
            <a href="?page=index_content2">Perkebunan Teh Di Jambi Bulan Ini Keuntunganya Melesat.........</a>
        </div>
        <div class="Content">
            <a href="?page=index_content3"><img src="img/Jagung.jpg" alt=""></a>
            <a href="?page=index_content3">Cara menanam jagung dengan metode tanpa olah tanah.........</a>
        </div>
        <div class="Content">
            <a href="?page=index_content4"><img src="img/Gandum.jpg" alt=""></a>
            <a href="?page=index_content4">Inilah Mengapa Gandum Paku Sereal Sangat di minati.....</a>
        </div>
        <div class="Content">
            <a href="?page=index_content5"><img src="img/Teknologi.jpg" alt=""></a>
            <a href="?page=index_content5">Teknologi Pertanian Tahun Ini Berkembang Sangat Pesat....</a>
        </div>
        </div>
    </div>
</div>
<div class="share">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="google"><i class="fa fa-google"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
        <a href="#" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
</div>
<div class="comment">
    <h1>Tinggalkan Komentar</h1>
    <form action="">
        <label for="Nick"> Nama</label>
        <input type="text" class="a" value="<?= $nama; ?>">
        <label for="email">Email</label>
        <input type="email" class="a" value="<?= $email; ?>">
        <br>
        <textarea name="" id="" cols="30" rows="7" placeholder="Tinggalkan komentar disini...."></textarea>
        <br>
        <input type="submit" value="Submit" class="b">
    </form>
</div>
<script src="JS/script.js"></script>
</html>
